.wrapper{
  width: 100%;
  height: auto;
}
.side_bar{
  width: 30%;
  height: 150px;
  border: 1px solid;
  float: left;
}
.main{
  float: right;
  width: 69%;
  height: 100%;
  border: 1px solid;
}

.hidden{
  display: none;
}